<li *ngFor="let task of tasks; let i = index">
  <app-chech-box
    (newItemEvent)="checkboxStatus($event, i)"
    class="checkboxContainer"
  ></app-chech-box>
  <label
    for="task1"
    class="checkBoxText"
    [ngClass]="{ checkedClass: task.checkboxStatus }"
    >{{ task.value }}</label
  >
  <app-button-delete [btnName]="'content_paste'"></app-button-delete>
  <app-button-delete [btnName]="'share'"></app-button-delete>
  <app-button-delete
    (click)="deleteIndex(i)"
    [btnName]="'delete'"
  ></app-button-delete>
</li>
