hr {
  border: 2px solid var(--hr-color);
}

.headerBox {
  display: flex;
}

.toogleButton {
  align-self: center;
  justify-content: center;
}

.titleBox {
  align-self: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
