.inputList {
  width: 27.5rem;
  height: 3rem;
  border: 0px;
  padding: 0;
  margin-right: 0.5rem;
  font-size: 24px;
  background-color: transparent;
  color: var(--body-font-color);

  &:focus {
    outline-style: none;
    box-shadow: none;
  }

  &::placeholder {
    color: var(--body-font-placeholder-color);
  }
}
